workflows/Ali2BsjoV0uWm8tn__content-mate-v1-6-shared-ai-avatar-x-videos.json
{
  "id": "Ali2BsjoV0uWm8tn",
  "name": "Content Mate v1.6 (Shared) (AI Avatar | X Videos)",
  "active": 0,
  "createdAt": "2026-01-21 14:32:34.940",
  "updatedAt": "2026-01-21 14:32:34.940",
  "nodes": [
    {
      "parameters": {
        "executeOnce": "={{ true }}",
        "command": "=# knobs\nTOP_H=608\nGAP=1\nPUSH=0\nCROP_TOP={{ $json.fields.TopCrop[0] }}\nEXTRA_CROP=0\n\n# compute the bottom height\nBOTTOM_H=$((1920 - (TOP_H + GAP + PUSH) - EXTRA_CROP))\nBOT_Y=$((TOP_H + GAP + PUSH))\n\nffmpeg -y \\\n-i \"/videos/{{ $('Update Voice3').item.json.id }}_xvideo.mp4\" \\\n-i \"/videos/{{ $json.id }}_clone.mp4\" \\\n-filter_complex \"\ncolor=c=black:size=1080x1920:d=360[bg];\n[0:v]scale=1080:${TOP_H}:flags=bicubic[top];\n[1:v]scale=1080:-2[vs];\n[vs]crop=w=1080:h=${BOTTOM_H}:x=0:y=${CROP_TOP}[bot];\n[bg][top]overlay=x=0:y=0[tmp];\n[tmp][bot]overlay=x=0:y=${BOT_Y}[v];\n[1:a]volume=1.5[a]\n\" \\\n-map \"[v]\" -map \"[a]\" \\\n-t \"$(ffprobe -v error -show_entries format=duration -of default=noprint_wrappers=1:nokey=1 \"/videos/{{ $json.id }}_clone.mp4\")\" \\\n-c:v libx264 -pix_fmt yuv420p -crf 18 -preset veryfast \\\n-c:a aac -movflags +faststart \\\n/videos/{{ $('Update Voice3').item.json.id }}_output_vertical.mp4"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        2208,
        1328
      ],
      "id": "52326bfe-59ee-4a8d-b7c4-06154df777af",
      "name": "Combine Videos"
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "=/videos/{{ $('Create a record3').item.json.id }}_clone.mp4",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        3248,
        1072
      ],
      "id": "8181897c-1a69-4335-a280-8e8f5c0978e4",
      "name": "clonevideo"
    },
    {
      "parameters": {
        "path": "ad2b6fe8-fc5c-4dc0-aff6-3e43775c4f3b",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        2208,
        384
      ],
      "id": "7a483de2-c079-4fa3-9c25-137ce8520a08",
      "name": "Webhook",
      "webhookId": "ad2b6fe8-fc5c-4dc0-aff6-3e43775c4f3b"
    },
    {
      "parameters": {
        "content": "## Create Avatar ##",
        "height": 80,
        "width": 180,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1888,
        1088
      ],
      "id": "696f791f-67c5-4c52-b09d-cb2578176125",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "content": "## Caption ##",
        "height": 80,
        "width": 180,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1888,
        1568
      ],
      "id": "111fb35a-9aa2-4914-8982-7350dafcb9b5",
      "name": "Sticky Note8"
    },
    {
      "parameters": {
        "authentication": "airtableOAuth2Api",
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "appl4YKk0FuRGS21x",
          "mode": "list",
          "cachedResultName": "Content Mate (AI Clone) (Reaction Video)",
          "cachedResultUrl": "https://airtable.com/appl4YKk0FuRGS21x"
        },
        "table": {
          "__rl": true,
          "value": "tbl8mvofoH5b2g799",
          "mode": "list",
          "cachedResultName": "X 👱‍♂️",
          "cachedResultUrl": "https://airtable.com/appl4YKk0FuRGS21x/tbl8mvofoH5b2g799"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        368,
        208
      ],
      "id": "dc9e088e-57ff-4c67-8917-56234d005ad0",
      "name": "Search records1"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 3
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        288,
        1184
      ],
      "id": "d526c85b-51d9-42bd-a7a1-42261beb3249",
      "name": "Schedule Trigger2"
    },
    {
      "parameters": {
        "content": "## Publish ##",
        "height": 80,
        "width": 180,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -16,
        1200
      ],
      "id": "72ea00a6-2f2c-4457-9e6a-14a0319081a7",
      "name": "Sticky Note10"
    },
    {
      "parameters": {
        "authentication": "airtableOAuth2Api",
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "appl4YKk0FuRGS21x",
          "mode": "list",
          "cachedResultName": "Content Mate (AI Avatar | X Videos) v1.5",
          "cachedResultUrl": "https://airtable.com/appl4YKk0FuRGS21x"
        },
        "table": {
          "__rl": true,
          "value": "tbl7C0cKIR0Tipi2Y",
          "mode": "list",
          "cachedResultName": "Create ⭐️",
          "cachedResultUrl": "https://airtable.com/appl4YKk0FuRGS21x/tbl7C0cKIR0Tipi2Y"
        },
        "filterByFormula": "=IF(FIND(\"Schedule\", {Status}), 1, 0)",
        "returnAll": false,
        "limit": 1,
        "options": {},
        "sort": {
          "property": [
            {
              "field": "Date Created"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        512,
        1184
      ],
      "id": "f68bb53a-9725-42bf-986b-a08439bfa6d8",
      "name": "Search records2"
    },
    {
      "parameters": {
        "resource": "media",
        "mediaUrl": "={{ $('Search records2').item.json['Caption Drive'] }}"
      },
      "type": "@blotato/n8n-nodes-blotato.blotato",
      "typeVersion": 2,
      "position": [
        1088,
        1184
      ],
      "id": "39ca250e-6a6c-4006-92bb-e94a56e4998f",
      "name": "Upload media"
    },
    {
      "parameters": {
        "platform": "youtube",
        "accountId": {
          "__rl": true,
          "value": "1758",
          "mode": "list",
          "cachedResultName": "Anders Hafell (AI Andy Shorts)",
          "cachedResultUrl": "https://backend.blotato.com/v2/accounts/1758"
        },
        "postContentText": "={{ $('Message a model').item.json.message.content['YouTube short caption'] }} #short",
        "postContentMediaUrls": "={{ $json.url }}",
        "postCreateYoutubeOptionTitle": "={{ $('Message a model').item.json.message.content['YouTube short title'] }}",
        "options": {}
      },
      "type": "@blotato/n8n-nodes-blotato.blotato",
      "typeVersion": 2,
      "position": [
        1312,
        1088
      ],
      "id": "011f4dbe-0bba-417e-ad1a-3027f7c4e571",
      "name": "Youtube"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "GPT-4.1-MINI"
        },
        "messages": {
          "values": [
            {
              "content": "={{ $json['YT Short Script'] }}\n\n{{ $json['Source Text'] }}\n\nMake this into SEO optimized objects for each platform\nfor the Youtube Title, make sure to add the update name as the first word(s) in the title "
            },
            {
              "content": "=You are a caption generator that returns ONLY a single valid JSON object with these keys:\n\"Instagram caption\", \"Facebook caption\", \"Twitter caption\", \"TikTok caption\", \"YouTube short caption\", \"YouTube short title\", \"LinkedIn caption\", \"Bluesky caption\", \"Threads caption\", \"Pinterest caption\".\n\nGoal\nCreate concise, platform-tailored captions for a short-form video. The user will provide a YouTube or short-form script as input. Extract the hook, the core benefit, 1 to 2 concrete specifics, and a clear CTA. Keep everything punchy because the video carries most context.\n\nInputs you will receive\n- video_script: the full script or outline\n- topic or product: optional\n- target_audience: optional\n- desired_CTA: optional\n- hashtags_or_keywords: optional\n- tone: optional (default energetic, helpful)\n\nGlobal rules\n- Output JSON only. No extra text, no markdown, no comments.\n- Do not include newline characters inside any value unless the platform rules below explicitly allow line breaks.\n- Never fabricate facts. Derive claims from the video_script.\n- Keep captions distinct across platforms. No copy-paste.\n- Prefer 1 emoji max where appropriate. If tone is professional, use zero.\n- Use 1 to 3 short hashtags max when appropriate. Avoid spammy blocks of tags.\n- Avoid platform-specific handles unless provided.\n- Language: match the language of the video_script.\n\nPlatform styles and constraints\n1) Instagram caption\n- Aim 80 to 120 characters.\n- One short hook, one benefit, soft CTA.\n- Up to 2 hashtags at the end.\n- Optional single emoji near the start.\n- No links.\n\n2) Facebook caption\n- Aim 100 to 160 characters.\n- Friendly and clear. One sentence plus CTA.\n- Add 1 to 2 hashtags only if natural.\n- Links allowed only if provided in inputs.\n\n3) Twitter caption\n- Aim 80 to 120 characters for scannability.\n- Tight hook + 1 key detail + short CTA.\n- Max 2 hashtags. Avoid emojis unless the tone is informal.\n\n4) TikTok caption\n- Aim 60 to 100 characters.\n- High energy hook plus CTA like \"watch to the end\".\n- Up to 3 short, relevant hashtags.\n- No links.\n\n5) YouTube short caption\n- Aim 100 to 150 characters.\n- Clarify the value viewers get in one line. One CTA to subscribe or try the tip.\n- 1 to 2 hashtags max.\n\n6) YouTube short title\n- Aim 40 to 60 characters.\n- Lead with outcome or transformation. Include a power verb.\n- No brackets clickbait. No punctuation at the end unless it is a question.\n\n7) LinkedIn caption\n- Aim 140 to 200 characters.\n- Professional, benefit-led, one specific insight from the script, and a light CTA to comment or learn more.\n- No emojis unless the industry is casual. No hashtags unless 1 highly relevant tag adds value.\n\n8) Bluesky caption\n- Aim 80 to 120 characters.\n- Conversational and slightly tech-savvy tone.\n- 1 to 2 hashtags max. No emojis unless tone is casual.\n- Encourage replies with a question or curiosity.\n\n9) Threads caption\n- Aim 80 to 120 characters.\n- More casual, community-driven vibe. Feel like talking to friends.\n- 1 emoji max, if it feels natural.\n- 1 to 2 hashtags max.\n\n10) Pinterest caption\n- Aim 100 to 150 characters.\n- Inspire curiosity or promise a benefit.\n- Can include 1 to 2 hashtags for search relevance.\n- No emojis unless they fit a creative or lifestyle tone.\n\nContent extraction from video_script\n- Hook: the most surprising or outcome-focused line.\n- Benefit: the clearest value to the viewer.\n- Specific: one stat, step, or tool mentioned.\n- CTA: a single action phrase aligned with desired_CTA if provided.\n\nFormatting rules\n- Escape any internal quotes as needed to keep valid JSON.\n- Do not exceed each platform’s character targets.\n- If an input is missing, make the best safe assumption. Do not leave fields empty.\n\nReturn format (example keys only; values must be generated from the provided script):\n{\n  \"Instagram caption\": \"...\",\n  \"Facebook caption\": \"...\",\n  \"Twitter caption\": \"...\",\n  \"TikTok caption\": \"...\",\n  \"YouTube short caption\": \"...\",\n  \"YouTube short title\": \"...\",\n  \"LinkedIn caption\": \"...\",\n  \"Bluesky caption\": \"...\",\n  \"Threads caption\": \"...\",\n  \"Pinterest caption\": \"...\"\n}\n",
              "role": "system"
            }
          ]
        },
        "jsonOutput": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        736,
        1184
      ],
      "id": "27427380-8c42-4f7d-be06-23af436d9ceb",
      "name": "Message a model"
    },
    {
      "parameters": {
        "authentication": "airtableOAuth2Api",
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "appl4YKk0FuRGS21x",
          "mode": "list",
          "cachedResultName": "Vibe Creator (AI Clone) (Reaction Video)",
          "cachedResultUrl": "https://airtable.com/appl4YKk0FuRGS21x"
        },
        "table": {
          "__rl": true,
          "value": "tbl7C0cKIR0Tipi2Y",
          "mode": "list",
          "cachedResultName": "Create ⭐️",
          "cachedResultUrl": "https://airtable.com/appl4YKk0FuRGS21x/tbl7C0cKIR0Tipi2Y"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $('Search records2').item.json.id }}",
            "Status": "Published",
            "Publish Time": "={{ $now }}",
            "X Video (sec)": 0
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Review",
                  "value": "Review"
                },
                {
                  "name": "Schedule",
                  "value": "Schedule"
                },
                {
                  "name": "Published",
                  "value": "Published"
                },
                {
                  "name": "No",
                  "value": "No"
                },
                {
                  "name": "Scripting",
                  "value": "Scripting"
                },
                {
                  "name": "Get X Video",
                  "value": "Get X Video"
                },
                {
                  "name": "Voice",
                  "value": "Voice"
                },
                {
                  "name": "Avatar",
                  "value": "Avatar"
                },
                {
                  "name": "Combine Videos",
                  "value": "Combine Videos"
                },
                {
                  "name": "Caption",
                  "value": "Caption"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "YT Short Script",
              "displayName": "YT Short Script",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Caption Video",
              "displayName": "Caption Video",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "X Video Link",
              "displayName": "X Video Link",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Avatars",
              "displayName": "Avatars",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Avatar Link",
              "displayName": "Avatar Link",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "Voice ID Link",
              "displayName": "Voice ID Link",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "X Video (sec)",
              "displayName": "X Video (sec)",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Publish Time",
              "displayName": "Publish Time",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "🎵 Music",
              "displayName": "🎵 Music",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Music Link (from 🎵 Music)",
              "displayName": "Music Link (from 🎵 Music)",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "Source Text",
              "displayName": "Source Text",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Date Created",
              "displayName": "Date Created",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Voiceover 3sec",
              "displayName": "Voiceover 3sec",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Caption Drive",
              "displayName": "Caption Drive",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        1536,
        1472
      ],
      "id": "30f22f53-831e-4d39-bc38-96f16cc34d0c",
      "name": "Update Publish"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.apify.com/v2/actor-tasks/aiandy~tweet-scraper---oct-10/run-sync-get-dataset-items?token=APIFY_TOKEN_REDACTED",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"customMapFunction\": \"(object) => { return {...object} }\",\n  \"end\": \"{{ $now.toISODate() }}\",\n  \"includeSearchTerms\": true,\n  \"maxItems\": 10,\n  \"onlyImage\": false,\n  \"onlyQuote\": false,\n  \"onlyTwitterBlue\": false,\n  \"onlyVerifiedUsers\": false,\n  \"onlyVideo\": false,\n  \"searchTerms\": [\n    \"from:{{ $json.Handle }} filter:videos lang:en since:{{ $now.minus({ days: 4 }).toISODate() }} until:{{ $now.toISODate() }}\",\n    \"from:{{ $json.Handle }} filter:nativeretweets filter:videos lang:en since:{{ $now.minus({ days: 4 }).toISODate() }} until:{{ $now.toISODate() }}\"\n  ],\n  \"sort\": \"Latest\",\n  \"start\": \"{{ $now.minus({ days: 4 }).toISODate() }}\",\n  \"tweetLanguage\": \"en\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        896,
        192
      ],
      "id": "3f64a219-29cc-493f-ac40-3b8da5961f96",
      "name": "Apify POST"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        640,
        208
      ],
      "id": "APIFY_TOKEN_REDACTED",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "bda583a5-f973-4266-ace4-e85fe72c97cd",
              "leftValue": "={{ $json.noResults }}",
              "rightValue": "true",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1120,
        192
      ],
      "id": "63b37187-67a9-428c-a6be-69b1ea519a82",
      "name": "If1"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 7
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        112,
        208
      ],
      "id": "0aa9a0cc-64d3-40e4-a479-2dab1b09c96a",
      "name": "Schedule Trigger1",
      "notesInFlow": false
    },
    {
      "parameters": {
        "authentication": "airtableOAuth2Api",
        "base": {
          "__rl": true,
          "value": "appl4YKk0FuRGS21x",
          "mode": "list",
          "cachedResultName": "Vibe Creator (AI Clone) (Reaction Video)",
          "cachedResultUrl": "https://airtable.com/appl4YKk0FuRGS21x"
        },
        "table": {
          "__rl": true,
          "value": "tbllgqZX8Vk7bhm2P",
          "mode": "list",
          "cachedResultName": "Ideas 🔥",
          "cachedResultUrl": "https://airtable.com/appl4YKk0FuRGS21x/tbllgqZX8Vk7bhm2P"
        },
        "id": "={{ $('Webhook').item.json.query.recordId }}",
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        2416,
        384
      ],
      "id": "856f22d5-b453-4424-9670-8e3e9180fc64",
      "name": "Get Record (🔥)"
    },
    {
      "parameters": {
        "content": "## Source ##\nSourcing system currently unavailable (Nov 27) Waiting for apify scraper to get fixed (https://console.apify.com/actors/61RPP7dywgiy0JPD0/input)\n\nThe rest of this automation is working ⭐\nStay updated in the community\n",
        "width": 566,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "61d2e873-b76e-4d10-a5e6-673bf1680afd",
      "name": "Sticky Note7"
    },
    {
      "parameters": {
        "resource": "speech",
        "voice": {
          "__rl": true,
          "value": "={{ $('Update Script1').item.json.fields['Voice ID Link'][0] }}",
          "mode": "id"
        },
        "text": "={{ $('Update Script1').item.json.fields['YT Short Script'] }}",
        "additionalOptions": {
          "model": {
            "__rl": true,
            "value": "eleven_multilingual_v2",
            "mode": "list",
            "cachedResultName": "Eleven Multilingual v2"
          },
          "outputFormat": "mp3_44100_128",
          "voiceSettings": "{\n  \"stability\": 0.9,\n  \"similarity_boost\": 0.3,\n  \"style\": 1,\n  \"use_speaker_boost\": true,\n  \"speed\": 1\n}"
        },
        "requestOptions": {}
      },
      "type": "@elevenlabs/n8n-nodes-elevenlabs.elevenLabs",
      "typeVersion": 1,
      "position": [
        2208,
        832
      ],
      "id": "c3174799-f78c-4dde-83b6-59be0ba7798c",
      "name": "Convert text to speech1",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "url": "={{ $json.video_url_hd }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3104,
        608
      ],
      "id": "c00c8470-c9cc-4d21-9b31-c49f370e376e",
      "name": "DOWNLOAD7"
    },
    {
      "parameters": {
        "authentication": "airtableOAuth2Api",
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "appl4YKk0FuRGS21x",
          "mode": "list",
          "cachedResultName": "Vibe Creator (AI Clone) (Reaction Video)",
          "cachedResultUrl": "https://airtable.com/appl4YKk0FuRGS21x"
        },
        "table": {
          "__rl": true,
          "value": "tbl7C0cKIR0Tipi2Y",
          "mode": "list",
          "cachedResultName": "Short Video ⭐",
          "cachedResultUrl": "https://airtable.com/appDbuXuuHlvz8hSe/tbl7C0cKIR0Tipi2Y"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $('Create a record3').item.json.id }}",
            "YT Short Script": "={{ $json.message.content }}",
            "X Video Link": "={{ $('Get Record (🔥)').item.json.Link }}",
            "X Video (sec)": "={{ $('HTTP Apify').item.json.video_duration / 1000 }}",
            "Source Text": "={{ $('HTTP Apify').item.json.text }}",
            "Status": "Get X Video",
            "Name": "="
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Review",
                  "value": "Review"
                },
                {
                  "name": "Schedule",
                  "value": "Schedule"
                },
                {
                  "name": "Published",
                  "value": "Published"
                },
                {
                  "name": "No",
                  "value": "No"
                },
                {
                  "name": "Scripting",
                  "value": "Scripting"
                },
                {
                  "name": "Get X Video",
                  "value": "Get X Video"
                },
                {
                  "name": "Voice",
                  "value": "Voice"
                },
                {
                  "name": "Avatar",
                  "value": "Avatar"
                },
                {
                  "name": "Combine Videos",
                  "value": "Combine Videos"
                },
                {
                  "name": "Caption",
                  "value": "Caption"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "YT Short Script",
              "displayName": "YT Short Script",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Caption Video",
              "displayName": "Caption Video",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "X Video Link",
              "displayName": "X Video Link",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Avatars",
              "displayName": "Avatars",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Avatar Link",
              "displayName": "Avatar Link",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "Voice ID Link",
              "displayName": "Voice ID Link",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "Date Created",
              "displayName": "Date Created",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "TopCrop",
              "displayName": "TopCrop",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "X Video (sec)",
              "displayName": "X Video (sec)",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Publish Time",
              "displayName": "Publish Time",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "🎵 Music",
              "displayName": "🎵 Music",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Music Link (from 🎵 Music)",
              "displayName": "Music Link (from 🎵 Music)",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "Source Text",
              "displayName": "Source Text",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Voiceover 3sec",
              "displayName": "Voiceover 3sec",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Caption Drive",
              "displayName": "Caption Drive",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        4256,
        608
      ],
      "id": "faa0c567-4ba8-432f-a848-bc134dd4b326",
      "name": "Update Script1"
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "=/videos/{{ $('Create a record3').item.json.id }}_xvideo.mp4",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        3328,
        608
      ],
      "id": "a6e70361-606e-4fe0-bdfa-2b65ac01b922",
      "name": "Write XVideo3"
    },
    {
      "parameters": {
        "content": "## Create Voice ##",
        "height": 80,
        "width": 180,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1888,
        848
      ],
      "id": "3998a965-16ba-432d-b8c5-a61d26acd297",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "content": "## Get Video & YT Script ##",
        "height": 96,
        "width": 182
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1888,
        592
      ],
      "id": "24621812-c948-4122-9ae7-7b3467d464d1",
      "name": "Sticky Note11"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.apify.com/v2/actor-tasks/aiandy~APIFY_TOKEN_REDACTED/run-sync-get-dataset-items?token=APIFY_TOKEN_REDACTED",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"include_metadata\": true,\n    \"tweet_urls\": [\n        \"{{ $('Get Record (🔥)').item.json.Link }}\"\n    ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2656,
        608
      ],
      "id": "d9104432-26ba-4bcd-b49c-96169c6a80a2",
      "name": "HTTP Apify"
    },
    {
      "parameters": {
        "executeOnce": "={{ true }}",
        "command": "=ffmpeg -y -ss 0 -t 3 -i \"{{ $('Write Voice Full').item.json.fileName }}\" -acodec copy \"/videos/{{ $('Create a record3').item.json.id }}3s_voice.mp3\""
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        2608,
        832
      ],
      "id": "f7602bcc-d32a-4ee3-be58-1bc08f1ac46b",
      "name": "3 sec voice"
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "=/videos/{{ $('Create a record3').item.json.id }}_voice_full.mp3",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        2416,
        832
      ],
      "id": "fb4ce92a-c0f2-4a08-834c-83ca77f09186",
      "name": "Write Voice Full"
    },
    {
      "parameters": {
        "fileSelector": "=/videos/{{ $('Create a record3').item.json.id }}3s_voice.mp3",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        2816,
        832
      ],
      "id": "dd62c6f6-0d46-4a80-8756-e6e775f530e7",
      "name": "Read 3s voice"
    },
    {
      "parameters": {
        "accountId": {
          "__rl": true,
          "value": "2774",
          "mode": "list",
          "cachedResultName": "theaiandy",
          "cachedResultUrl": "https://backend.blotato.com/v2/accounts/2774"
        },
        "postContentText": "={{ $('Message a model').item.json.message.content['YouTube short caption'] }} #short",
        "postContentMediaUrls": "={{ $json.url }}",
        "options": {}
      },
      "type": "@blotato/n8n-nodes-blotato.blotato",
      "typeVersion": 2,
      "position": [
        1312,
        1472
      ],
      "id": "592b387b-d7d8-4ad7-b8ce-a803c19ed2aa",
      "name": "Instagram"
    },
    {
      "parameters": {
        "platform": "tiktok",
        "accountId": {
          "__rl": true,
          "value": "3314",
          "mode": "list",
          "cachedResultName": "andyhafell",
          "cachedResultUrl": "https://backend.blotato.com/v2/accounts/3314"
        },
        "postContentText": "={{ $('Message a model').item.json.message.content['YouTube short caption'] }} #short",
        "postContentMediaUrls": "={{ $json.url }}",
        "options": {}
      },
      "type": "@blotato/n8n-nodes-blotato.blotato",
      "typeVersion": 2,
      "position": [
        1312,
        896
      ],
      "id": "943d170f-0d91-4318-baa5-e6f47973bc62",
      "name": "Tiktok"
    },
    {
      "parameters": {
        "platform": "facebook",
        "accountId": {
          "__rl": true,
          "value": "2517",
          "mode": "list",
          "cachedResultName": "Andy Hafell",
          "cachedResultUrl": "https://backend.blotato.com/v2/accounts/2517"
        },
        "postContentText": "={{ $('Message a model').item.json.message.content['Facebook caption'] }}",
        "postContentMediaUrls": "={{ $json.url }}",
        "facebookPageId": {
          "__rl": true,
          "value": "1512666705493261",
          "mode": "list",
          "cachedResultName": "AI Andy",
          "cachedResultUrl": "https://backend.blotato.com/v2/accounts/2517/subaccounts/1512666705493261"
        },
        "options": {}
      },
      "type": "@blotato/n8n-nodes-blotato.blotato",
      "typeVersion": 2,
      "position": [
        1312,
        1280
      ],
      "id": "172bd29b-5fa4-448e-b857-36ab5b179d77",
      "name": "Facebook"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.replicate.com/v1/models/pixverse/lipsync/predictions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"input\": {\n    \"audio\": \"{{ $json.fields['Voiceover 3sec'] }}\",\n    \"video\": \"{{ $json.fields['Avatar Link'][0] }}\"\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2208,
        1072
      ],
      "id": "70d0ef18-ea6a-4b14-a4d7-d9b1a54e4603",
      "name": "HTTP LipSync"
    },
    {
      "parameters": {
        "amount": 10
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2416,
        1072
      ],
      "id": "92b053ff-4a4a-4f4c-8a97-bd1177e595ee",
      "name": "Wait4",
      "webhookId": "27445ad0-7a45-4fb3-a9ac-17297bfb454a"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "ce63e765-99b8-4931-8738-71601159cb54",
              "leftValue": "={{ $json.status }}",
              "rightValue": "succeeded",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2736,
        1072
      ],
      "id": "a99ea7c3-177a-4929-9126-8b5e6ae5e135",
      "name": "If3"
    },
    {
      "parameters": {
        "url": "={{ $('HTTP LipSync').item.json.urls.get }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2608,
        1072
      ],
      "id": "f26b273e-798e-43b7-9c7d-0e1f44ad918f",
      "name": "GET2"
    },
    {
      "parameters": {
        "amount": 10
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2896,
        1072
      ],
      "id": "1f55dd93-71b4-4c19-9eb3-62cb34c21dfe",
      "name": "Wait5",
      "webhookId": "08aad5d0-26c5-47fe-a62a-81babb51aeca"
    },
    {
      "parameters": {
        "url": "={{ $json.output }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3072,
        1072
      ],
      "id": "81057233-e40e-4be6-9159-9b1c162ea5ef",
      "name": "DOWNLOAD VIDEO2"
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "=/videos/{{ $('Update Voice3').item.json.id }}_subtitles.ass",
        "dataPropertyName": "=data",
        "options": {
          "append": false
        }
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        2864,
        1552
      ],
      "id": "b3fa2dc8-0d20-410b-9f22-633aedb43c2c",
      "name": "Save ass3"
    },
    {
      "parameters": {
        "fileSelector": "=/videos/{{ $('Update Voice3').item.json.id }}_output.mp4",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        3344,
        1552
      ],
      "id": "4f5f4694-5d64-486c-8ab5-6194abb08bae",
      "name": "Read/Write Files from Disk8"
    },
    {
      "parameters": {
        "driveId": {
          "__rl": true,
          "value": "0AMSCbk77xX4cUk9PVA",
          "mode": "list",
          "cachedResultName": "Andy Hafell Shared",
          "cachedResultUrl": "https://drive.google.com/drive/folders/0AMSCbk77xX4cUk9PVA"
        },
        "folderId": {
          "__rl": true,
          "value": "=1rtyM0OvOgRWp1SfQJKLxi54k5nR2kTJE",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        3568,
        1552
      ],
      "id": "1c745a41-ff6b-4f60-b6ec-cf8581ff649e",
      "name": "Upload file19"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.elevenlabs.io/v1/speech-to-text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "xi-api-key",
              "value": "YOURAPIKEYHERE"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "model_id",
              "value": "scribe_v1"
            },
            {
              "name": "language_code",
              "value": "en"
            },
            {
              "name": "speaker_diarization",
              "value": "true"
            },
            {
              "name": "tag_audio_events",
              "value": "true"
            },
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "data"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2416,
        1552
      ],
      "id": "a22df9e0-8856-455c-b2ff-3f310fd42f8c",
      "name": "ElevenS2T3"
    },
    {
      "parameters": {
        "authentication": "airtableOAuth2Api",
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "appl4YKk0FuRGS21x",
          "mode": "list",
          "cachedResultName": "Content Mate (AI Clone) (X Video) v1.2 (vid only)",
          "cachedResultUrl": "https://airtable.com/appl4YKk0FuRGS21x"
        },
        "table": {
          "__rl": true,
          "value": "tbl7C0cKIR0Tipi2Y",
          "mode": "list",
          "cachedResultName": "Create ⭐️",
          "cachedResultUrl": "https://airtable.com/appl4YKk0FuRGS21x/tbl7C0cKIR0Tipi2Y"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $('Update Voice3').item.json.id }}",
            "Caption Video": "=[ { \"url\": \"{{ $json.webContentLink }}\" } ]",
            "Caption Drive": "={{ $json.webContentLink }}",
            "Status": "Review"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Review",
                  "value": "Review"
                },
                {
                  "name": "Schedule",
                  "value": "Schedule"
                },
                {
                  "name": "Published",
                  "value": "Published"
                },
                {
                  "name": "No",
                  "value": "No"
                },
                {
                  "name": "Scripting",
                  "value": "Scripting"
                },
                {
                  "name": "Get X Video",
                  "value": "Get X Video"
                },
                {
                  "name": "Voice",
                  "value": "Voice"
                },
                {
                  "name": "Avatar",
                  "value": "Avatar"
                },
                {
                  "name": "Combine Videos",
                  "value": "Combine Videos"
                },
                {
                  "name": "Caption",
                  "value": "Caption"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Make Video",
              "displayName": "Make Video",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "Voice ID",
              "displayName": "Voice ID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "YT Short Script",
              "displayName": "YT Short Script",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Caption Video",
              "displayName": "Caption Video",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "X Video Link",
              "displayName": "X Video Link",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Avatar Link",
              "displayName": "Avatar Link",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "Avatars",
              "displayName": "Avatars",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "X Video (sec)",
              "displayName": "X Video (sec)",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Publish Time",
              "displayName": "Publish Time",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "🎵 Music",
              "displayName": "🎵 Music",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Music Link (from 🎵 Music)",
              "displayName": "Music Link (from 🎵 Music)",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "Source Text",
              "displayName": "Source Text",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Date Created",
              "displayName": "Date Created",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Voiceover 3sec",
              "displayName": "Voiceover 3sec",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Caption Drive",
              "displayName": "Caption Drive",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        3792,
        1552
      ],
      "id": "e320cc87-b2fe-43a8-a9c9-e65626477505",
      "name": "Update Captions5"
    },
    {
      "parameters": {
        "fileSelector": "=/videos/{{ $('Update Voice3').item.json.id }}_output_vertical.mp4",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        2416,
        1328
      ],
      "id": "618ef62a-47e8-415f-b6f0-e8efefe3e3d4",
      "name": "Read 3 sek vid"
    },
    {
      "parameters": {
        "content": "## Combine Vids + Music \n##",
        "height": 112,
        "width": 180,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1888,
        1328
      ],
      "id": "7ce58d57-b126-4607-855e-36fdbde0514c",
      "name": "Sticky Note28"
    },
    {
      "parameters": {
        "url": "={{ $('Update Voice3').item.json.fields['Music Link (from 🎵 Music)'][0] }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3040,
        1328
      ],
      "id": "5250cd3d-2146-4746-8adb-267d0104c101",
      "name": "DOWNLOAD12"
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "=/videos/{{ $('Update Voice3').item.json.id }}_music.mp3",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        3264,
        1328
      ],
      "id": "c45c16d5-d827-46dc-a56e-1bb25395e390",
      "name": "Write music3"
    },
    {
      "parameters": {
        "executeOnce": "={{ true }}",
        "command": "=#!/bin/sh\nset -eu -o pipefail\n\nRID=\"{{ $('Update Voice3').item.json.id }}\"\nIN_RAW=\"${RID}_xvideo_9x16.mp4\"\nFIRST_3=\"${RID}_output_vertical.mp4\"\nMUSIC_RAW=\"${RID}_music.mp3\"\n\nOUT=\"/videos/${RID}_video_only.mp4\"\n\n# Resolve absolute paths\ncase \"$IN_RAW\"    in /*) IN=\"$IN_RAW\"     ;; *) IN=\"/videos/$IN_RAW\"     ;; esac\ncase \"$FIRST_3\"   in /*) F3=\"$FIRST_3\"    ;; *) F3=\"/videos/$FIRST_3\"    ;; esac\ncase \"$MUSIC_RAW\" in /*) MUSIC=\"$MUSIC_RAW\";; *) MUSIC=\"/videos/$MUSIC_RAW\";; esac\n\n# Sanity checks\n[ -f \"$IN\" ]    || { echo \"ERROR: Input video not found: $IN\" >&2; exit 1; }\n[ -f \"$F3\" ]    || { echo \"ERROR: Overlay not found: $F3\" >&2; exit 1; }\n[ -f \"$MUSIC\" ] || { echo \"ERROR: Music not found: $MUSIC\" >&2; exit 1; }\n\nrm -f -- \"$OUT\" || true\n\n# Explanation:\n# - Overlay fades out at 2.5s (0.5s crossfade).\n# - Voice track from IN is boosted 1.5x louder.\n# - Music stays at 0.1 volume.\n# - Overlay scales up and centers.\n\nffmpeg -hide_banner -loglevel error -y -nostdin -threads 2 \\\n  -i \"$IN\" \\\n  -i \"$F3\" \\\n  -i \"$MUSIC\" \\\n  -filter_complex \"\n    [1:v]trim=0:3,setpts=PTS-STARTPTS,scale=iw*1:-1,fade=t=out:st=2.5:d=0.5:alpha=1[overlayfit]; \\\n    [0:v]setpts=PTS-STARTPTS[base]; \\\n    [base][overlayfit]overlay=(W-w)/2:(H-h)/2:enable='between(t,0,3)'[vout]; \\\n    [0:a]volume=1.5[a0]; \\\n    [2:a]volume=0.1[a2]; \\\n    [a0][a2]amix=inputs=2:duration=first:dropout_transition=3[aout]\n  \" \\\n  -map \"[vout]\" -map \"[aout]\" \\\n  -c:v libx264 -preset veryfast -crf 18 -pix_fmt yuv420p \\\n  -c:a aac -b:a 192k \\\n  -movflags +faststart \\\n  \"$OUT\"\n\nprintf '{\"output\":\"%s\"}' \"$OUT\""
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        3488,
        1328
      ],
      "id": "c78136e5-58aa-41cb-945c-a4069ff91add",
      "name": "Combine vids and music"
    },
    {
      "parameters": {
        "command": "=#!/bin/sh\nset -eu\n\nRID=\"{{ $('Update Voice3').item.json.id }}\"\n\nINPUT=\"/videos/${RID}_xvideo.mp4\"\nVOICE=\"/videos/${RID}_voice_full.mp3\"\nOUTPUT=\"/videos/${RID}_xvideo_9x16.mp4\"\n\nffmpeg -y \\\n  -i \"$INPUT\" \\\n  -i \"$VOICE\" \\\n  -filter_complex \"\\\n    color=c=black:s=1080x1920:d=999[bg]; \\\n    [0:v]scale=1080:-1[vid]; \\\n    [bg][vid]overlay=(W-w)/2:(H-h)/2:eval=init,format=yuv420p[v]\" \\\n  -map \"[v]\" -map 1:a \\\n  -c:v libx264 -c:a aac -pix_fmt yuv420p \\\n  -shortest -movflags +faststart \"$OUTPUT\"\n\nprintf '{\\\"output\\\":\\\"%s\\\"}' \\\"$OUTPUT\\\""
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        2608,
        1328
      ],
      "id": "495a34df-ceba-4a9e-b275-2593c4ae7e37",
      "name": "Transform X to 916"
    },
    {
      "parameters": {
        "fileSelector": "=/videos/{{ $('Update Voice3').item.json.id }}_xvideo_9x16.mp4",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        2816,
        1328
      ],
      "id": "a7aaffe2-4c23-4744-bacf-3d32a663e76f",
      "name": "Read X 918"
    },
    {
      "parameters": {
        "fileSelector": "=/videos/{{ $('Update Voice3').item.json.id }}_video_only.mp4",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        3712,
        1328
      ],
      "id": "7363d749-83a2-4740-a705-4d35fff50205",
      "name": "Write Final Vid no capt"
    },
    {
      "parameters": {
        "jsCode": "/**\n * n8n Code node: ASS subtitles (single-token, exact onsets, 10ms quantized)\n * - Supports ElevenLabs Scribe v1 (words with {text,start,end,type})\n * - Supports Whisper verbose_json (words with {word,start,end})\n * - Ignores spacing/audio_event tokens\n * - Repairs zero-duration and same-start clusters so nothing gets skipped\n * - No template literals in emit (avoids unterminated template errors)\n */\n\n//////////////////// CONFIG ////////////////////\nconst CONFIG = {\n  wordsToShow: 1,\n\n  // Styling\n  fontName: 'Arial',\n  fontSize: 90,\n  fontColor: 'FFFFFF',\n  outlineColor: '000000',\n  backgroundColor: '000000',\n\n  highlightFontSize: 90,\n  highlightColor: '00FFFF',\n\n  bold: 10,\n  italic: 0,\n  underline: 0,\n  strikeout: 0,\n  scaleX: 100,\n  scaleY: 100,\n  spacing: 0,\n  angle: 0,\n\n  borderStyle: 1,\n  outline: 5,\n  shadow: 2,\n\n  alignment: 8,   // top-center\n  marginL: 10,\n  marginR: 10,\n  marginV: 1270,\n\n  // Resolution fallback\n  videoWidth: null,\n  videoHeight: null,\n\n  // Timing\n  minWordDurSec: 0.08,   // 80 ms helps zero-duration tokens\n  minGapCs: 1,           // target 10 ms gap\n  globalOffsetMs: 0,     // Scribe tends to be very tight; start with 0ms\n\n  // When dense, allow nudging next start forward up to X cs (1 cs = 10 ms)\n  maxStartShiftCs: 5,    // 50 ms max shift to preserve onsets\n\n  // Numeric handling (optional)\n  combineNumbers: true,\n  attachNumMaxGapSec: 0.30,\n\n  // Sanitization\n  dropEmpty: true,              // drop empty-text tokens\n  dropPunctOnly: true,          // drop tiny punctuation-only tokens\n  tinyDurThresholdSec: 0.03,    // treat <30ms punctuation as noise\n\n  outputFileName: 'sentence_aware_subtitles.ass',\n};\n\n//////////////////// HELPERS ////////////////////\nfunction firstDefined(){ for (let i=0;i<arguments.length;i++){ if (arguments[i]!=null) return arguments[i]; } }\nfunction toCsStart(sec, offsetMs){ const s=(Number(sec)||0)+(offsetMs/1000); return Math.max(0, Math.floor(s*100)); }\nfunction toCsEnd(sec, offsetMs){ const s=(Number(sec)||0)+(offsetMs/1000); return Math.max(0, Math.ceil(s*100)); }\nfunction csToFmt(cs){\n  cs = Math.max(0, Math.floor(cs));\n  const h = Math.floor(cs/360000); cs%=360000;\n  const m = Math.floor(cs/6000);   cs%=6000;\n  const s = Math.floor(cs/100);    const c=cs%100;\n  return h+':'+String(m).padStart(2,'0')+':'+String(s).padStart(2,'0')+'.'+String(c).padStart(2,'0');\n}\nfunction escASS(t){\n  return String(t||'')\n    .replace(/[\\r\\n]+/g, ' ')\n    .replace(/\\s+/g, ' ')\n    .toUpperCase()\n    .replace(/[{}]/g, m => m==='{' ? '\\\\{' : '\\\\}')\n    .replace(/`/g, \"'\");\n}\n// Classifiers\nfunction isLexical(word){ return /[A-Za-z]/.test(word); }\nfunction isPunctOnly(word){ return /^[^A-Za-z0-9]+$/.test(word); }\nconst NUM_WITH_SUFFIX_RE = /^\\d+(?:[.,]\\d+)*(?:[a-z%]+)?$/i;\n\n// Build one-line text with highlight token i\nfunction createSubtitleText(group, hi){\n  let line = '';\n  for (let i=0;i<group.length;i++){\n    if (i>0) line += ' ';\n    const token = escASS(group[i].word).trim();\n    if (i===hi){\n      line += '{\\\\fs'+CONFIG.highlightFontSize+'\\\\c&H'+CONFIG.highlightColor+'&}'+token+'{\\\\r}';\n    } else {\n      line += token;\n    }\n  }\n  return line;\n}\n\nfunction createGroups(words, maxPerGroup){\n  const groups=[]; let cur=[];\n  for (let i=0;i<words.length;i++){\n    const w=words[i]; cur.push(w);\n    const txt=String(w.word||'').trim();\n    const endOfSentence=/[.!?]$/.test(txt);\n    const atLimit=cur.length>=maxPerGroup;\n    const last=i===words.length-1;\n    if (atLimit||endOfSentence||last){ if (cur.length) groups.push(cur.slice()); cur=[]; }\n  }\n  if (cur.length) groups.push(cur);\n  return groups;\n}\n\n// --- Numeric helpers (optional) ---\nfunction mergeDecimalTriplets(ws){\n  if (!CONFIG.combineNumbers) return ws;\n  const out=[];\n  for (let i=0;i<ws.length;i++){\n    const a=ws[i], b=ws[i+1], c=ws[i+2];\n    if (a&&b&&c && /^\\d+$/.test(String(a.word)) && String(b.word)==='.' && /^\\d+$/.test(String(c.word))){\n      out.push({ word:String(a.word)+'.'+String(c.word), start:+a.start, end:+c.end });\n      i+=2;\n    } else out.push({ word:String(a.word), start:+a.start, end:+a.end });\n  }\n  return out;\n}\nfunction attachNumbersToPrevious(ws, maxGapSec){\n  if (!CONFIG.combineNumbers || !ws.length) return ws;\n  const out=[{...ws[0]}];\n  for (let i=1;i<ws.length;i++){\n    const cur=ws[i], prev=out[out.length-1];\n    const gap = (+cur.start) - (+prev.end);\n    const isNum = NUM_WITH_SUFFIX_RE.test(String(cur.word));\n    if (isNum && gap>=0 && gap<=maxGapSec){\n      prev.word = (String(prev.word||'').trim() + ' ' + String(cur.word||'').trim()).trim();\n      prev.end = Math.max(+prev.end, +cur.end);\n    } else out.push({...cur});\n  }\n  return out;\n}\n\n/**\n * Repair zero-duration and same-start clusters using next-start as ceiling.\n * Keeps lexical tokens, drops only tiny punctuation/empty tokens.\n */\nfunction repairAndSanitize(ws){\n  const tiny = +CONFIG.tinyDurThresholdSec || 0.03;\n  const minLex = +CONFIG.minWordDurSec || 0.08;\n  const kept = [];\n\n  for (const w of ws){\n    const word = String(w.word||'').trim();\n    let s = +w.start || 0;\n    let e = +w.end   || 0;\n\n    if (CONFIG.dropEmpty && word.length===0) continue;\n\n    if (isLexical(word)){\n      if (!(e > s)) e = s + minLex; // synthesize\n      kept.push({ word, start:s, end:e });\n      continue;\n    }\n    // Non-lexical (numbers/punct/etc.)\n    const dur = Math.max(0, e - s);\n    if (CONFIG.dropPunctOnly && isPunctOnly(word) && dur < tiny) continue;\n    if (!(e > s)) e = s + Math.max(minLex, tiny);\n    kept.push({ word, start:s, end:e });\n  }\n  if (!kept.length) return kept;\n\n  // Sort\n  kept.sort((a,b)=> a.start - b.start || a.end - b.end);\n\n  // Pass B: use next-start to give headroom to tiny/zero tokens\n  for (let i=0;i<kept.length;i++){\n    const cur = kept[i];\n    const next = kept[i+1];\n    if (!next) continue;\n    const s = cur.start;\n    let e = cur.end;\n    const nextS = next.start;\n    const dur = e - s;\n\n    if (!(e > s) || dur < tiny){\n      const EPS = 0.01; // 10ms\n      const target = Math.max(minLex, tiny);\n      const safeEnd = (nextS > s + EPS) ? Math.min(nextS - EPS, s + target) : s + target;\n      if (safeEnd > e) cur.end = safeEnd;\n    }\n  }\n\n  // Pass C: pack identical-start clusters into consecutive slices\n  const clusterPacked = [];\n  let i = 0;\n  while (i < kept.length){\n    const s = kept[i].start;\n    const cluster = [kept[i]];\n    let j = i+1;\n    while (j < kept.length && Math.abs(kept[j].start - s) < 0.0005) { cluster.push(kept[j]); j++; } // ~0.5ms\n\n    if (cluster.length === 1){\n      clusterPacked.push(kept[i]); i=j; continue;\n    }\n\n    const nextDistinctStart = (j < kept.length) ? kept[j].start : (s + 0.25);\n    const SLICE = Math.max(0.01, CONFIG.minWordDurSec || 0.08); // 10ms+\n    let cursor = s;\n    for (const tok of cluster){\n      const end = Math.min(cursor + SLICE, nextDistinctStart - 0.005);\n      clusterPacked.push({ word: tok.word, start: cursor, end: Math.max(end, cursor + 0.01) });\n      cursor = Math.min(end, nextDistinctStart - 0.005);\n    }\n    i = j;\n  }\n\n  // Final monotonic guard\n  for (let k=0;k<clusterPacked.length-1;k++){\n    const a = clusterPacked[k], b = clusterPacked[k+1];\n    if (b.start < a.end){\n      b.start = a.end;\n      if (!(b.end > b.start)) b.end = b.start + (CONFIG.minWordDurSec || 0.08);\n    }\n  }\n\n  // Sort again\n  clusterPacked.sort((a,b)=> a.start - b.start || a.end - b.end);\n  return clusterPacked;\n}\n\n//////////////////// PARSE INPUT ////////////////////\n// Accepts:\n// - ElevenLabs: { words: [ {text,start,end,type,...}, ... ] }\n// - Whisper:    { words: [ {word,start,end,...}, ... ] } or { segments: [...] }\nconst item = $input.first().json;\nlet response = (item && Array.isArray(item.data) && item.data[0]) ? item.data[0] : item;\n\nlet words = [];\n\n// Case 1: direct words array\nif (Array.isArray(response.words) && response.words.length){\n  const first = response.words[0];\n\n  // ElevenLabs format: has 'text' + 'type'\n  if (first && typeof first.text === 'string' && 'type' in first){\n    for (const w of response.words){\n      // Keep only real words; ignore spacing/audio_event\n      if (String(w.type).toLowerCase() !== 'word') continue;\n      words.push({ word: String(w.text||''), start: Number(w.start||0), end: Number(w.end||0) });\n    }\n  } else {\n    // Whisper verbose_json: has 'word'\n    for (const w of response.words){\n      words.push({ word: String(w.word||''), start: Number(w.start||0), end: Number(w.end||0) });\n    }\n  }\n}\n// Case 2: segments with nested words (Whisper or Scribe variations)\nelse if (Array.isArray(response.segments) && response.segments.length){\n  for (const seg of response.segments){\n    if (Array.isArray(seg.words) && seg.words.length){\n      const firstW = seg.words[0];\n      const isScribe = firstW && typeof firstW.text === 'string' && 'type' in firstW;\n      for (const w of seg.words){\n        if (isScribe){\n          if (String(w.type).toLowerCase() !== 'word') continue;\n          words.push({ word: String(w.text||''), start: Number(w.start||seg.start||0), end: Number(w.end||seg.end||0) });\n        } else {\n          words.push({ word: String(w.word||''), start: Number(w.start||seg.start||0), end: Number(w.end||seg.end||0) });\n        }\n      }\n    } else {\n      const ss = Number(seg.start||0);\n      const ee = Number(seg.end ?? (ss + 0.6));\n      words.push({ word: String(seg.text||'').trim(), start: ss, end: ee });\n      CONFIG.wordsToShow = Math.max(CONFIG.wordsToShow, 999);\n    }\n  }\n}\n\nif (!words.length) throw new Error('No words found after parsing (did you pass Scribe/Whisper JSON?)');\n\n// Sort & initial min-duration guard\nwords.sort((a,b)=>a.start-b.start || a.end-b.end);\nfor (const w of words){\n  if (!(w.end > w.start)) w.end = w.start + Number(CONFIG.minWordDurSec||0.08);\n}\n\n// Optional numeric fixes (safe for Scribe/Whisper)\nwords = mergeDecimalTriplets(words);\nwords = attachNumbersToPrevious(words, CONFIG.attachNumMaxGapSec);\n\n// Critical repair for zero-duration & same-start clusters\nwords = repairAndSanitize(words);\n\n// Resolution fallback\nCONFIG.videoWidth  = firstDefined(item.width,  item.videoWidth,  response.width,  1080);\nCONFIG.videoHeight = firstDefined(item.height, item.videoHeight, response.height, 1920);\n\n//////////////////// ASS HEADER ////////////////////\nlet ass = '';\nass += '[Script Info]\\n';\nass += 'Title: Single-Token 10ms Quantized (Scribe/Whisper compatible)\\n';\nass += 'ScriptType: v4.00+\\n';\nass += 'PlayResX: ' + CONFIG.videoWidth + '\\n';\nass += 'PlayResY: ' + CONFIG.videoHeight + '\\n\\n';\nass += '[V4+ Styles]\\n';\nass += 'Format: Name, Fontname, Fontsize, PrimaryColour, SecondaryColour, OutlineColour, BackColour, Bold, Italic, Underline, StrikeOut, ScaleX, ScaleY, Spacing, Angle, BorderStyle, Outline, Shadow, Alignment, MarginL, MarginR, MarginV, Encoding\\n';\nass += 'Style: Default,' + CONFIG.fontName + ',' + CONFIG.fontSize + ',&H' + CONFIG.fontColor + ',&H' + CONFIG.outlineColor + ',&H' + CONFIG.outlineColor + ',&H' + CONFIG.backgroundColor + ',' + CONFIG.bold + ',' + CONFIG.italic + ',' + CONFIG.underline + ',' + CONFIG.strikeout + ',' + CONFIG.scaleX + ',' + CONFIG.scaleY + ',' + CONFIG.spacing + ',' + CONFIG.angle + ',' + CONFIG.borderStyle + ',' + CONFIG.outline + ',' + CONFIG.shadow + ',' + CONFIG.alignment + ',' + CONFIG.marginL + ',' + CONFIG.marginR + ',' + CONFIG.marginV + ',1\\n\\n';\nass += '[Events]\\n';\nass += 'Format: Layer, Start, End, Style, Name, MarginL, MarginR, MarginV, Effect, Text\\n';\n\n//////////////////// BUILD LINES ////////////////////\n// groups (wordsToShow=1 => single token highlight stepping across words)\nconst groups = createGroups(words, CONFIG.wordsToShow);\n\nconst raw = [];\nfor (const g of groups){\n  for (let i=0;i<g.length;i++){\n    const w=g[i];\n    raw.push({ text:createSubtitleText(g,i), start:w.start, end:w.end });\n  }\n}\n\nconst minDurCs = Math.max(1, Math.round(CONFIG.minWordDurSec * 100)); // ≥1 cs\nconst minGapCs = Math.max(0, Number(CONFIG.minGapCs||0));            // allow 0 if needed\nconst offsetMs = Number(CONFIG.globalOffsetMs||0);\nconst maxShift = Math.max(0, Number(CONFIG.maxStartShiftCs||0));\n\nconst lines = raw.map(L => ({\n  text: L.text,\n  s: toCsStart(L.start, offsetMs),\n  e: toCsEnd(L.end, offsetMs),\n}));\n\n// Ensure minimum duration\nfor (const L of lines){\n  if (L.e < L.s + minDurCs) L.e = L.s + minDurCs;\n}\n\n// Keep starts; if tight, gently push next start up to maxShift\nfor (let i=0;i<lines.length-1;i++){\n  const a=lines[i], b=lines[i+1];\n  let latestEnd = b.s - minGapCs;\n\n  if (latestEnd < a.s + minDurCs){\n    const need = (a.s + minDurCs + minGapCs) - b.s;\n    const canShift = Math.min(maxShift, Math.max(0, need));\n    if (canShift > 0){\n      b.s += canShift;\n      if (b.e < b.s + minDurCs) b.e = b.s + minDurCs;\n      latestEnd = b.s - minGapCs;\n    }\n  }\n\n  const minEnd = a.s + minDurCs;\n  a.e = Math.min(a.e, latestEnd);\n  if (a.e < minEnd) a.e = minEnd;\n\n  if (b.s < a.e){\n    b.s = a.e;\n    if (b.e < b.s + minDurCs) b.e = b.s + minDurCs;\n  }\n}\n\n// Final monotonic guards\nfor (let i=1;i<lines.length;i++){\n  if (lines[i].s < lines[i-1].s) lines[i].s = lines[i-1].s;\n  if (lines[i].e < lines[i].s + minDurCs) lines[i].e = lines[i].s + minDurCs;\n}\n\n// Emit\nfor (const L of lines){\n  ass += 'Dialogue: 0,' +\n    csToFmt(L.s) + ',' +\n    csToFmt(L.e) + ',' +\n    'Default,,0,0,0,,' +\n    L.text + '\\n';\n}\n\n//////////////////// RETURN ////////////////////\nreturn [{\n  json: {\n    generated: true,\n    width: CONFIG.videoWidth,\n    height: CONFIG.videoHeight,\n    words: words.length,\n    lines: lines.length,\n    globalOffsetMs: CONFIG.globalOffsetMs,\n    maxStartShiftCs: CONFIG.maxStartShiftCs\n  },\n  binary: {\n    data: {\n      data: Buffer.from(ass,'utf8').toString('base64'),\n      mimeType: 'text/ass',\n      fileName: CONFIG.outputFileName,\n    },\n  },\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2640,
        1552
      ],
      "id": "3a4bc2af-07f0-40db-8900-c741f4ddb0dc",
      "name": "Create Ass3"
    },
    {
      "parameters": {
        "executeOnce": "={{ true }}",
        "command": "=#!/bin/sh\nset -eu\n\nIN=\"/videos/{{ $('Update Voice3').item.json.id }}_video_only.mp4\"\nSUBS=\"/videos/{{ $('Update Voice3').item.json.id }}_subtitles.ass\"\nOUT=\"/videos/{{ $('Update Voice3').item.json.id }}_output.mp4\"\n\nffmpeg -y -i \"$IN\" -vf \"subtitles='$SUBS'\" -c:v libx264 -c:a copy \"$OUT\"\n\nprintf '{\"output\":\"%s\"}' \"$OUT\""
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        3120,
        1552
      ],
      "id": "6b13956e-a0b6-4965-812f-d18ab07d0c22",
      "name": "Make video with Captions",
      "executeOnce": false,
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "o3",
          "mode": "list",
          "cachedResultName": "O3"
        },
        "messages": {
          "values": [
            {
              "content": "=You are a viral YouTube Shorts scriptwriter.\n\t•\tRead the target length (seconds) and compute WORD_BUDGET = floor(seconds * WPS). Default WPS = {{ $json.wps || 2.4 }} .\n\t•\tOutput one script only, no pre/post text.\n\t•\tNever exceed WORD_BUDGET words. If your draft is longer, compress before replying.\n\t•\t6th-grade reading level.\n\t•\tFirst sentence = announcement of exactly what happened.\n\t•\t2nd sentence starts the details; include specific facts from the inspiration.\n\t•\tthe text should be written in the style interesting conversational tone\n\t•\tEnd with: a one sentence close of a shocking statement!\n\n\n\nDo not write more words than 2.4 words per second\nDo not write less words than 2.4 words per second",
              "role": "system"
            },
            {
              "content": "=The hook of the intro is usually found in this text, which is the viral X post we're using as inspiration: \n{{ $('HTTP Apify').item.json.text }}\n\n\nSource Text body:\n{{ $json.message.content }}\n\nTarget length: seconds: {{ $('HTTP Apify').item.json.video_duration / 1000 }}\n\n(Optional) Speaking rate override: 2.4 words per second. "
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        3904,
        608
      ],
      "id": "466e854a-fe59-4082-bc0d-5977b05ad9c1",
      "name": "Message a model2"
    },
    {
      "parameters": {
        "authentication": "airtableOAuth2Api",
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "appl4YKk0FuRGS21x",
          "mode": "list",
          "cachedResultName": "Content Mate (AI Clone) (Reaction Video)",
          "cachedResultUrl": "https://airtable.com/appl4YKk0FuRGS21x"
        },
        "table": {
          "__rl": true,
          "value": "tbl7C0cKIR0Tipi2Y",
          "mode": "list",
          "cachedResultName": "Create ⭐️",
          "cachedResultUrl": "https://airtable.com/appl4YKk0FuRGS21x/tbl7C0cKIR0Tipi2Y"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Name": "={{ $json.Name || $json.fields.Name }}",
            "Date Created": "={{ $now }}",
            "Status": "Scripting"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Review",
                  "value": "Review"
                },
                {
                  "name": "Schedule",
                  "value": "Schedule"
                },
                {
                  "name": "Published",
                  "value": "Published"
                },
                {
                  "name": "No",
                  "value": "No"
                },
                {
                  "name": "Scripting",
                  "value": "Scripting"
                },
                {
                  "name": "Get X Video",
                  "value": "Get X Video"
                },
                {
                  "name": "Voice",
                  "value": "Voice"
                },
                {
                  "name": "Avatar",
                  "value": "Avatar"
                },
                {
                  "name": "Combine Videos",
                  "value": "Combine Videos"
                },
                {
                  "name": "Caption",
                  "value": "Caption"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Make Video",
              "displayName": "Make Video",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "Voice ID",
              "displayName": "Voice ID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "YT Short Script",
              "displayName": "YT Short Script",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Caption Video",
              "displayName": "Caption Video",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "X Video Link",
              "displayName": "X Video Link",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Avatar Link",
              "displayName": "Avatar Link",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "Avatars",
              "displayName": "Avatars",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "X Video (sec)",
              "displayName": "X Video (sec)",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Publish Time",
              "displayName": "Publish Time",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "🎵 Music",
              "displayName": "🎵 Music",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Music Link (from 🎵 Music)",
              "displayName": "Music Link (from 🎵 Music)",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "Source Text",
              "displayName": "Source Text",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Date Created",
              "displayName": "Date Created",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Voiceover 3sec",
              "displayName": "Voiceover 3sec",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Caption Drive",
              "displayName": "Caption Drive",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        2432,
        608
      ],
      "id": "a6e0be3b-c72a-40ed-81d8-11ab17b776b3",
      "name": "Create a record3"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini-search-preview-2025-03-11",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI-SEARCH-PREVIEW-2025-03-11"
        },
        "messages": {
          "values": [
            {
              "content": "=find out more information about: \n{{ $('HTTP Apify').item.json.text }}\n\nPosted by {{ $('HTTP Apify').item.json.author_name }} on x. \n\nThey may have annoucned something or an update?\nI want you to find as many facts and information about it.\n\nCome back with at least 500 words"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        3552,
        608
      ],
      "id": "93037898-8b0a-4223-a73a-312f58ac381b",
      "name": "Search1"
    },
    {
      "parameters": {
        "authentication": "airtableOAuth2Api",
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "appl4YKk0FuRGS21x",
          "mode": "list",
          "cachedResultName": "Content Mate (AI Clone) v1.5",
          "cachedResultUrl": "https://airtable.com/appl4YKk0FuRGS21x"
        },
        "table": {
          "__rl": true,
          "value": "tbllgqZX8Vk7bhm2P",
          "mode": "list",
          "cachedResultName": "Ideas 🔥",
          "cachedResultUrl": "https://airtable.com/appl4YKk0FuRGS21x/tbllgqZX8Vk7bhm2P"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Link": "={{ $('Apify POST').item.json.url }}",
            "Date": "={{ $('Apify POST').item.json.createdAt }}",
            "Text": "={{ $('Apify POST').item.json.text }}",
            "Views": "={{ $('Apify POST').item.json.viewCount }}",
            "Name": "={{ $('Apify POST').item.json.author.userName }}",
            "Retweets": "={{ $('Apify POST').item.json.retweetCount }}",
            "IsRetweet": "={{ String($json.isRetweet) }}",
            "Ratio": "={{\n(() => {\n  const r =\n    $json.extendedEntities?.media?.[0]?.video_info?.aspect_ratio\n    || $json.extended_entities?.media?.[0]?.video_info?.aspect_ratio\n    || $json.entities?.media?.[0]?.video_info?.aspect_ratio\n\n    || $json.retweet?.extendedEntities?.media?.[0]?.video_info?.aspect_ratio\n    || $json.retweet?.extended_entities?.media?.[0]?.video_info?.aspect_ratio\n    || $json.retweet?.entities?.media?.[0]?.video_info?.aspect_ratio\n\n    || $json.retweeted_status?.extendedEntities?.media?.[0]?.video_info?.aspect_ratio\n    || $json.retweeted_status?.extended_entities?.media?.[0]?.video_info?.aspect_ratio\n    || $json.retweeted_status?.entities?.media?.[0]?.video_info?.aspect_ratio\n\n    || $json.quote?.extendedEntities?.media?.[0]?.video_info?.aspect_ratio\n    || $json.quote?.extended_entities?.media?.[0]?.video_info?.aspect_ratio\n    || $json.quote?.entities?.media?.[0]?.video_info?.aspect_ratio\n\n    || $json.quoted_status?.extendedEntities?.media?.[0]?.video_info?.aspect_ratio\n    || $json.quoted_status?.extended_entities?.media?.[0]?.video_info?.aspect_ratio\n    || $json.quoted_status?.entities?.media?.[0]?.video_info?.aspect_ratio\n\n    || $json.quoted_tweet?.extendedEntities?.media?.[0]?.video_info?.aspect_ratio\n    || $json.quoted_tweet?.extended_entities?.media?.[0]?.video_info?.aspect_ratio\n\n    || $json.extendedEntities?.media?.[0]?.video_info?.aspect_ratio\n    || $json.entities?.media?.[0]?.video_info?.aspect_ratio\n    || $json.quote?.extendedEntities?.media?.[0]?.video_info?.aspect_ratio\n    || $json.quote?.entities?.media?.[0]?.video_info?.aspect_ratio\n\n    || $('Apify POST').item.json.extendedEntities?.media?.[0]?.video_info?.aspect_ratio\n    || $('Apify POST').item.json.entities?.media?.[0]?.video_info?.aspect_ratio\n    || $('Apify POST').item.json.retweet?.extendedEntities?.media?.[0]?.video_info?.aspect_ratio\n    || $('Apify POST').item.json.retweet?.entities?.media?.[0]?.video_info?.aspect_ratio;\n\n  // Clean array output\n  return Array.isArray(r) ? `[${r.join(',')}]` : r;\n})()\n}}",
            "Retweet Handle": "={{ $json.extendedEntities.media[0].expanded_url.split('/')[3] }}",
            "Retweet Link": "={{ $('Apify POST').item.json.extendedEntities.media[0].expanded_url }}",
            "Retweet Text": "={{ $('Apify POST').item.json.retweet.text }}",
            "Retweet Views": "={{ $json.retweet.viewCount }}",
            "Video (sec)": "={{\n  ($json.extendedEntities?.media?.[0]?.video_info?.duration_millis / 1000)\n  || ($json.extended_entities?.media?.[0]?.video_info?.duration_millis / 1000)\n  || ($json.entities?.media?.[0]?.video_info?.duration_millis / 1000)\n\n  || ($json.retweet?.extendedEntities?.media?.[0]?.video_info?.duration_millis / 1000)\n  || ($json.retweet?.extended_entities?.media?.[0]?.video_info?.duration_millis / 1000)\n  || ($json.retweet?.entities?.media?.[0]?.video_info?.duration_millis / 1000)\n\n  || ($json.retweeted_status?.extendedEntities?.media?.[0]?.video_info?.duration_millis / 1000)\n  || ($json.retweeted_status?.extended_entities?.media?.[0]?.video_info?.duration_millis / 1000)\n  || ($json.retweeted_status?.entities?.media?.[0]?.video_info?.duration_millis / 1000)\n\n  || ($json.quote?.extendedEntities?.media?.[0]?.video_info?.duration_millis / 1000)\n  || ($json.quote?.extended_entities?.media?.[0]?.video_info?.duration_millis / 1000)\n  || ($json.quote?.entities?.media?.[0]?.video_info?.duration_millis / 1000)\n\n  || ($json.quoted_status?.extendedEntities?.media?.[0]?.video_info?.duration_millis / 1000)\n  || ($json.quoted_status?.extended_entities?.media?.[0]?.video_info?.duration_millis / 1000)\n  || ($json.quoted_status?.entities?.media?.[0]?.video_info?.duration_millis / 1000)\n\n  || ($json.quoted_tweet?.extendedEntities?.media?.[0]?.video_info?.duration_millis / 1000)\n  || ($json.quoted_tweet?.extended_entities?.media?.[0]?.video_info?.duration_millis / 1000)\n  || ($json.extendedEntities.media[0].video_info.duration_millis / 1000)\n  || ($json.entities.media[0].video_info.duration_millis / 1000)\n  || ($json.quote.extendedEntities.media[0].video_info.duration_millis / 1000)\n  || ($json.quote.entities.media[0].video_info.duration_millis / 1000)\n  || ($('Apify POST').json.extendedEntities.media[0].video_info.duration_millis / 1000)\n  || ($('Apify POST').json.entities.media[0].video_info.duration_millis / 1000)\n  || ($('Apify POST').json.retweet.extendedEntities.media[0].video_info.duration_millis / 1000)\n  || ($('Apify POST').json.retweet.entities.media[0].video_info.duration_millis / 1000)\n\n}}\n\n"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Button",
              "displayName": "Button",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "✅",
              "displayName": "✅",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Link",
              "displayName": "Link",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Text",
              "displayName": "Text",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Retweet Text",
              "displayName": "Retweet Text",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Video (sec)",
              "displayName": "Video (sec)",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Ratiox",
              "displayName": "Ratiox",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "Retweets",
              "displayName": "Retweets",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Views",
              "displayName": "Views",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Retweet Views",
              "displayName": "Retweet Views",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Date",
              "displayName": "Date",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Ratio",
              "displayName": "Ratio",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "IsRetweet",
              "displayName": "IsRetweet",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Retweet Handle",
              "displayName": "Retweet Handle",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Retweet Link",
              "displayName": "Retweet Link",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "video_done",
                  "value": "video_done"
                },
                {
                  "name": "video_started",
                  "value": "video_started"
                }
              ],
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        1392,
        192
      ],
      "id": "621ef33d-8060-4ba7-ba40-3715d26d057c",
      "name": "Create a record5"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 8
            },
            {
              "triggerAtHour": 8,
              "triggerAtMinute": 5
            },
            {
              "triggerAtHour": 8,
              "triggerAtMinute": 10
            },
            {
              "triggerAtHour": 8,
              "triggerAtMinute": 15
            },
            {
              "triggerAtHour": 8,
              "triggerAtMinute": 20
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        2208,
        224
      ],
      "id": "5a4e2438-4e79-41c2-a05f-3d53292f1e23",
      "name": "Schedule Trigger3",
      "notesInFlow": false
    },
    {
      "parameters": {
        "authentication": "airtableOAuth2Api",
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "appl4YKk0FuRGS21x",
          "mode": "list",
          "cachedResultName": "Content Mate (AI Clone) (X Video) v1.2 (vid only)",
          "cachedResultUrl": "https://airtable.com/appl4YKk0FuRGS21x"
        },
        "table": {
          "__rl": true,
          "value": "tbllgqZX8Vk7bhm2P",
          "mode": "list",
          "cachedResultName": "Ideas 🔥",
          "cachedResultUrl": "https://airtable.com/appl4YKk0FuRGS21x/tbllgqZX8Vk7bhm2P"
        },
        "returnAll": false,
        "limit": 1,
        "options": {
          "view": {
            "__rl": true,
            "value": "viwMCG0CHCgoFAQX6",
            "mode": "list",
            "cachedResultName": "Selected More WIde no Type",
            "cachedResultUrl": "https://airtable.com/appl4YKk0FuRGS21x/tbllgqZX8Vk7bhm2P/viwMCG0CHCgoFAQX6"
          }
        }
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        2416,
        224
      ],
      "id": "664f6324-b0ef-4c23-97a8-a7b5ea6492a0",
      "name": "Search records"
    },
    {
      "parameters": {
        "content": "## Auto Trigger ##",
        "height": 80,
        "width": 180,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1888,
        288
      ],
      "id": "c7b91493-5eab-490a-9f28-7f7081adef09",
      "name": "Sticky Note12"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.renderform.io/api/v2/render",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "YOURAPIKEYHERE"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"template\": \"drunk-mermaids-scrape-tensely-1116\",\n  \"data\": {\n    \"text_1.text\": \"{{ $('Apify POST4').item.json.author.name }}\",\n    \"text_handle.text\": \"@{{ $('Apify POST4').item.json.author.userName }}\",\n    \"profilepic.src\": \"{{ $('Apify POST4').item.json.author.profilePicture }}\",\n    \"badge.src\": \"https://cdn.renderform.io/SbtnROdRD4BqplBXNLZs/uploads/APIFY_TOKEN_REDACTED/valid.png\",\n\"views_text.text\": \"Views: {{ \n  Math.abs($('Apify POST4').item.json.viewCount) >= 1.0e6 \n    ? (Math.round($('Apify POST4').item.json.viewCount / 1.0e6 * 10) / 10) + 'M' \n    : Math.abs($('Apify POST4').item.json.viewCount) >= 1.0e3 \n      ? (Math.round($('Apify POST4').item.json.viewCount / 1.0e3 * 10) / 10) + 'K' \n      : $('Apify POST4').item.json.viewCount \n}}\",\n    \"badge.x\": \"{{ $json.badge_x }}\" \n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        5088,
        736
      ],
      "id": "7b67fa09-1f9f-4cbd-ae23-4fdb749015e8",
      "name": "Make X Handle"
    },
    {
      "parameters": {
        "url": "={{ $json.href }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        5312,
        736
      ],
      "id": "b865f0d0-d62c-45f0-93f1-2f7159bf034f",
      "name": "Download X Handle"
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "=/videos/{{ $('Update Script1').item.json.id }}_X_BG.jpg",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        5536,
        736
      ],
      "id": "eea743d9-cd02-47ba-bd45-e9795f03e35d",
      "name": "Write X Handle BG"
    },
    {
      "parameters": {
        "jsCode": "// --- pull name safely ---\nconst apifyItems = $items(\"Apify POST4\");\nconst apifyName =\n  (apifyItems?.[0]?.json?.author?.name) ??\n  (apifyItems?.[0]?.json?.author?.displayName) ??\n  (apifyItems?.[0]?.json?.author?.userName);\n\nconst rawName = ($json.display_name ?? apifyName ?? \"KREA AI\");\n\n// strip emoji/variation selectors/ZW chars to keep width calc stable\nconst name = String(rawName)\n  .replace(/\\p{Extended_Pictographic}/gu, \"\")      // emoji\n  .replace(/[\\u200B-\\u200D\\uFE0E\\uFE0F]/g, \"\")     // ZWJ/ZWNJ/VS\n  .trim();\n\n// --- layout constants (your template) ---\nconst baseNameX = 160;\nconst fontSize  = 180;\nconst padding   = 22;\n\n// --- calibration (from your KREA AI example) ---\nconst SCALE = 0.2006;\n\n// --- character width model ---\nconst WIDE   = new Set([... \"MW@%#&$0OQG\"]);\nconst NARROW = new Set([... \"il.:;!|`'1I\"]);\nconst SPACE_EM = 0.30;\nconst AVG_EM   = 0.56;\nconst WIDE_EM  = 0.90;\nconst NARROW_EM= 0.35;\n\n// sum em-widths\nlet emWidth = 0;\nfor (const ch of name) {\n  if (ch === ' ') emWidth += SPACE_EM;\n  else if (WIDE.has(ch)) emWidth += WIDE_EM;\n  else if (NARROW.has(ch)) emWidth += NARROW_EM;\n  else emWidth += AVG_EM;\n}\n\n// convert to template units\nconst rawPixels = emWidth * fontSize;\nconst textWidth = rawPixels * SCALE;\n\nconst badgeXRaw = baseNameX + textWidth + padding;\n\n// clamp if you have a right bound\nconst MAX_RIGHT = 1500;\nconst badge_x = Math.min(Math.round(badgeXRaw), MAX_RIGHT);\n\nreturn [{ json: { badge_x, nameUsed: name } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4912,
        736
      ],
      "id": "5a1ab796-ab5e-4ba2-a2a6-069529e04686",
      "name": "Set Badge"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        2656,
        368
      ],
      "id": "865ba5e8-912c-433a-a5c0-cce4cb6fc510",
      "name": "Merge"
    },
    {
      "parameters": {
        "authentication": "airtableOAuth2Api",
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "appl4YKk0FuRGS21x",
          "mode": "list",
          "cachedResultName": "Content Mate (AI Clone) (X Video) v1.2 (vid only)",
          "cachedResultUrl": "https://airtable.com/appl4YKk0FuRGS21x"
        },
        "table": {
          "__rl": true,
          "value": "tbllgqZX8Vk7bhm2P",
          "mode": "list",
          "cachedResultName": "Ideas 🔥",
          "cachedResultUrl": "https://airtable.com/appl4YKk0FuRGS21x/tbllgqZX8Vk7bhm2P"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $json.id }}",
            "Status": "video_started"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Button",
              "displayName": "Button",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "✅",
              "displayName": "✅",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Link",
              "displayName": "Link",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Text",
              "displayName": "Text",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Retweet Text",
              "displayName": "Retweet Text",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Video (sec)",
              "displayName": "Video (sec)",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Ratiox",
              "displayName": "Ratiox",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Retweets",
              "displayName": "Retweets",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Views",
              "displayName": "Views",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Retweet Views",
              "displayName": "Retweet Views",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Date",
              "displayName": "Date",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Ratio",
              "displayName": "Ratio",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "IsRetweet",
              "displayName": "IsRetweet",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Retweet Handle",
              "displayName": "Retweet Handle",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Retweet Link",
              "displayName": "Retweet Link",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "video_made",
                  "value": "video_made"
                },
                {
                  "name": "video_started",
                  "value": "video_started"
                }
              ],
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        2208,
        608
      ],
      "id": "4df24b7f-ee9b-4bd4-b07c-649abe4e8bab",
      "name": "Update 🔥 started"
    },
    {
      "parameters": {
        "driveId": {
          "__rl": true,
          "value": "0AMSCbk77xX4cUk9PVA",
          "mode": "list",
          "cachedResultName": "Andy Hafell Shared",
          "cachedResultUrl": "https://drive.google.com/drive/folders/0AMSCbk77xX4cUk9PVA"
        },
        "folderId": {
          "__rl": true,
          "value": "=1rtyM0OvOgRWp1SfQJKLxi54k5nR2kTJE",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        3024,
        832
      ],
      "id": "55633bfe-9293-489e-941c-5b2494726770",
      "name": "Upload file15"
    },
    {
      "parameters": {
        "authentication": "airtableOAuth2Api",
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "appl4YKk0FuRGS21x",
          "mode": "list",
          "cachedResultName": "Vibe Creator (AI Clone) (Greenscreen)",
          "cachedResultUrl": "https://airtable.com/appl4YKk0FuRGS21x"
        },
        "table": {
          "__rl": true,
          "value": "tbl7C0cKIR0Tipi2Y",
          "mode": "list",
          "cachedResultName": "Short Video ⭐",
          "cachedResultUrl": "https://airtable.com/appDbuXuuHlvz8hSe/tbl7C0cKIR0Tipi2Y"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $('Create a record3').item.json.id }}",
            "Status": "Avatar",
            "Voiceover 3sec": "={{ $json.webContentLink }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Review",
                  "value": "Review"
                },
                {
                  "name": "Schedule",
                  "value": "Schedule"
                },
                {
                  "name": "Published",
                  "value": "Published"
                },
                {
                  "name": "No",
                  "value": "No"
                },
                {
                  "name": "Scripting",
                  "value": "Scripting"
                },
                {
                  "name": "Get X Video",
                  "value": "Get X Video"
                },
                {
                  "name": "Voice",
                  "value": "Voice"
                },
                {
                  "name": "Avatar",
                  "value": "Avatar"
                },
                {
                  "name": "Combine Videos",
                  "value": "Combine Videos"
                },
                {
                  "name": "Caption",
                  "value": "Caption"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Make Video",
              "displayName": "Make Video",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "Voice ID",
              "displayName": "Voice ID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "YT Short Script",
              "displayName": "YT Short Script",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Caption Video",
              "displayName": "Caption Video",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "X Video Link",
              "displayName": "X Video Link",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Avatar Link",
              "displayName": "Avatar Link",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "Avatars",
              "displayName": "Avatars",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "X Video (sec)",
              "displayName": "X Video (sec)",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Publish Time",
              "displayName": "Publish Time",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "🎵 Music",
              "displayName": "🎵 Music",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Music Link (from 🎵 Music)",
              "displayName": "Music Link (from 🎵 Music)",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "Source Text",
              "displayName": "Source Text",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Date Created",
              "displayName": "Date Created",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Voiceover 3sec",
              "displayName": "Voiceover 3sec",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Caption Drive",
              "displayName": "Caption Drive",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        3232,
        832
      ],
      "id": "71960b63-d22c-4012-8b3c-6fa3b68d968f",
      "name": "Update Voice3"
    },
    {
      "parameters": {
        "fileSelector": "=/videos/{{ $('Create a record3').item.json.id }}_voice_full.mp3",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        2208,
        1552
      ],
      "id": "3d887b24-638e-4e68-b76a-00ccbf87c980",
      "name": "Read Voiceover"
    },
    {
      "parameters": {
        "authentication": "airtableOAuth2Api",
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "appl4YKk0FuRGS21x",
          "mode": "list",
          "cachedResultName": "Content Mate (AI Avatar) v1.5",
          "cachedResultUrl": "https://airtable.com/appl4YKk0FuRGS21x"
        },
        "table": {
          "__rl": true,
          "value": "tbl7C0cKIR0Tipi2Y",
          "mode": "list",
          "cachedResultName": "Create ⭐️",
          "cachedResultUrl": "https://airtable.com/appl4YKk0FuRGS21x/tbl7C0cKIR0Tipi2Y"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $('Create a record3').item.json.id }}",
            "Status": "Combine Videos"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Review",
                  "value": "Review"
                },
                {
                  "name": "Schedule",
                  "value": "Schedule"
                },
                {
                  "name": "Published",
                  "value": "Published"
                },
                {
                  "name": "No",
                  "value": "No"
                },
                {
                  "name": "Scripting",
                  "value": "Scripting"
                },
                {
                  "name": "Get X Video",
                  "value": "Get X Video"
                },
                {
                  "name": "Voice",
                  "value": "Voice"
                },
                {
                  "name": "Avatar",
                  "value": "Avatar"
                },
                {
                  "name": "Combine Videos",
                  "value": "Combine Videos"
                },
                {
                  "name": "Caption",
                  "value": "Caption"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Voice ID",
              "displayName": "Voice ID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "YT Short Script",
              "displayName": "YT Short Script",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Caption Video",
              "displayName": "Caption Video",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "X Video Link",
              "displayName": "X Video Link",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Avatar Link",
              "displayName": "Avatar Link",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Avatars",
              "displayName": "Avatars",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "X Video (sec)",
              "displayName": "X Video (sec)",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Publish Time",
              "displayName": "Publish Time",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "🎵 Music",
              "displayName": "🎵 Music",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Music Link (from 🎵 Music)",
              "displayName": "Music Link (from 🎵 Music)",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Source Text",
              "displayName": "Source Text",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Date Created",
              "displayName": "Date Created",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Voiceover 3sec",
              "displayName": "Voiceover 3sec",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Caption Drive",
              "displayName": "Caption Drive",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        3424,
        1072
      ],
      "id": "69d37b36-9f26-4a97-9117-406d1e9a97bf",
      "name": "Update Avatar"
    },
    {
      "parameters": {
        "content": "## Avatar Animation ##",
        "height": 80,
        "width": 246,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -416,
        640
      ],
      "id": "68c63b30-d6ff-427f-91ef-b21038bb55f5",
      "name": "Sticky Note9"
    },
    {
      "parameters": {
        "path": "08c1adaf-f9ef-4f99-8e62-4d3e592ce167",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -80,
        624
      ],
      "id": "2cf167a1-2b94-4f8b-b955-9691821bced9",
      "name": "Webhook1",
      "webhookId": "08c1adaf-f9ef-4f99-8e62-4d3e592ce167"
    },
    {
      "parameters": {
        "authentication": "airtableOAuth2Api",
        "base": {
          "__rl": true,
          "value": "appl4YKk0FuRGS21x",
          "mode": "list",
          "cachedResultName": "Content Mate (AI Avatar | X Videos) v1.5",
          "cachedResultUrl": "https://airtable.com/appl4YKk0FuRGS21x"
        },
        "table": {
          "__rl": true,
          "value": "tblPWUOvylhuUW0cj",
          "mode": "list",
          "cachedResultName": "🤦‍♂️ Avatars",
          "cachedResultUrl": "https://airtable.com/appl4YKk0FuRGS21x/tblPWUOvylhuUW0cj"
        },
        "id": "={{ $json.query.record_id }}",
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        128,
        624
      ],
      "id": "4f4b217c-7ae4-469b-918e-50a4f018169a",
      "name": "Get a record"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.replicate.com/v1/models/wan-video/wan-2.2-i2v-fast/predictions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"input\": {\n    \"image\": \"{{ $json['Avatar Image'][0].url }}\",\n    \"prompt\": \"character looking directly into the camera and speaking with hands into the camera \",\n    \"go_fast\": true,\n    \"num_frames\": 81,\n    \"resolution\": \"720p\",\n    \"sample_shift\": 12,\n    \"frames_per_second\": 16,\n    \"interpolate_output\": true,\n    \"lora_scale_transformer\": 1,\n    \"lora_scale_transformer_2\": 1\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        336,
        624
      ],
      "id": "03575f2b-1203-4690-9af1-2e3150e626b5",
      "name": "Make Avatar Speak"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "ce63e765-99b8-4931-8738-71601159cb54",
              "leftValue": "={{ $json.status }}",
              "rightValue": "succeeded",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        720,
        624
      ],
      "id": "00897b96-8986-4201-8bde-4d7f1bedaf75",
      "name": "If"
    },
    {
      "parameters": {
        "amount": 10
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        896,
        624
      ],
      "id": "38b7db54-f431-420f-bd84-60c1e36bf06c",
      "name": "Wait",
      "webhookId": "7d2c4679-ad6e-4bdc-be23-897f6394421b"
    },
    {
      "parameters": {
        "url": "={{ $json.output }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1056,
        624
      ],
      "id": "5b8f89f3-9623-4a04-a697-8c6fa8ba2f95",
      "name": "DOWNLOAD VIDEO"
    },
    {
      "parameters": {
        "url": "={{ $json.urls.get }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        544,
        624
      ],
      "id": "3b5ce214-1b64-45ee-a884-b6a34bb3bc6f",
      "name": "Get Avatar Video"
    },
    {
      "parameters": {
        "authentication": "airtableOAuth2Api",
        "operation": "upsert",
        "base": {
          "__rl": true,
          "value": "appl4YKk0FuRGS21x",
          "mode": "list",
          "cachedResultName": "Content Mate (AI Clone) v1.5",
          "cachedResultUrl": "https://airtable.com/appl4YKk0FuRGS21x"
        },
        "table": {
          "__rl": true,
          "value": "tblPWUOvylhuUW0cj",
          "mode": "list",
          "cachedResultName": "🤦‍♂️ Avatars",
          "cachedResultUrl": "https://airtable.com/appl4YKk0FuRGS21x/tblPWUOvylhuUW0cj"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $('Webhook1').item.json.query.record_id }}",
            "Avatar link": "={{ $json.webContentLink }}",
            "Avatar Animated": "=[ { \"url\": \"{{ $json.webContentLink }}\" } ]"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true
            },
            {
              "id": "Avatar Name",
              "displayName": "Avatar Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Button",
              "displayName": "Button",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Image",
              "displayName": "Image",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Avatar link",
              "displayName": "Avatar link",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Voice ID",
              "displayName": "Voice ID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Create ⭐️",
              "displayName": "Create ⭐️",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Avatar Animated",
              "displayName": "Avatar Animated",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        1456,
        624
      ],
      "id": "41b816f2-8c37-4373-b141-3f8e162321bb",
      "name": "Create or update a record"
    },
    {
      "parameters": {
        "driveId": {
          "__rl": true,
          "value": "0AMSCbk77xX4cUk9PVA",
          "mode": "list",
          "cachedResultName": "Andy Hafell Shared",
          "cachedResultUrl": "https://drive.google.com/drive/folders/0AMSCbk77xX4cUk9PVA"
        },
        "folderId": {
          "__rl": true,
          "value": "=1EdRy97CjYhwhQj56j6-RSHBbtP2HyRQ8",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1248,
        624
      ],
      "id": "4f74649c-b0e1-4615-825e-c358460f8a82",
      "name": "Upload file"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.elevenlabs.io/v1/text-to-speech/YOUR_VOICE_ID",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "output_format",
              "value": "mp3_44100_128"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "xi-api-key",
              "value": "YOUR_API_KEY_HERE"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"text\": \"YOUR+TEXT+HERE\",\n  \"model_id\": \"eleven_multilingual_v2\",\n  \"voice_settings\": {\n    \"stability\": 0.9,\n    \"similarity_boost\": 0.3,\n    \"style\": 1,\n    \"use_speaker_boost\": true,\n    \"speed\": 1\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4912,
        960
      ],
      "id": "f9b28e04-7d5b-413b-a833-dcea0db49b65",
      "name": "HTTP Elevenlabs"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "0c54e454-2983-4252-8c97-43422d808348",
              "leftValue": "={{ $json.video_url_hd }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2880,
        608
      ],
      "id": "ef89696e-9bc8-4d42-a90c-989843d93c76",
      "name": "If2"
    },
    {
      "parameters": {
        "content": "## Handle & Views ##\nThis is the \"Handle and views\" that are currently offline",
        "height": 96,
        "width": 454,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        4896,
        592
      ],
      "id": "53d3ae0c-4651-4271-8982-60e59c408918",
      "name": "Sticky Note"
    }
  ],
  "connections": {
    "clonevideo": {
      "main": [
        [
          {
            "node": "Update Avatar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Combine Videos": {
      "main": [
        [
          {
            "node": "Read 3 sek vid",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Get Record (🔥)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search records1": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger2": {
      "main": [
        [
          {
            "node": "Search records2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload media": {
      "main": [
        [
          {
            "node": "Youtube",
            "type": "main",
            "index": 0
          },
          {
            "node": "Facebook",
            "type": "main",
            "index": 0
          },
          {
            "node": "Tiktok",
            "type": "main",
            "index": 0
          },
          {
            "node": "Instagram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Upload media",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search records2": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Apify POST": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Apify POST",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create a record5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger1": {
      "main": [
        [
          {
            "node": "Search records1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Record (🔥)": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Convert text to speech1": {
      "main": [
        [
          {
            "node": "Write Voice Full",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DOWNLOAD7": {
      "main": [
        [
          {
            "node": "Write XVideo3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Script1": {
      "main": [
        [
          {
            "node": "Convert text to speech1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Write XVideo3": {
      "main": [
        [
          {
            "node": "Search1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Apify": {
      "main": [
        [
          {
            "node": "If2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Write Voice Full": {
      "main": [
        [
          {
            "node": "3 sec voice",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "3 sec voice": {
      "main": [
        [
          {
            "node": "Read 3s voice",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read 3s voice": {
      "main": [
        [
          {
            "node": "Upload file15",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait4": {
      "main": [
        [
          {
            "node": "GET2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If3": {
      "main": [
        [
          {
            "node": "DOWNLOAD VIDEO2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GET2": {
      "main": [
        [
          {
            "node": "If3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait5": {
      "main": [
        [
          {
            "node": "GET2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DOWNLOAD VIDEO2": {
      "main": [
        [
          {
            "node": "clonevideo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP LipSync": {
      "main": [
        [
          {
            "node": "Wait4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save ass3": {
      "main": [
        [
          {
            "node": "Make video with Captions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read/Write Files from Disk8": {
      "main": [
        [
          {
            "node": "Upload file19",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload file19": {
      "main": [
        [
          {
            "node": "Update Captions5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ElevenS2T3": {
      "main": [
        [
          {
            "node": "Create Ass3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read 3 sek vid": {
      "main": [
        [
          {
            "node": "Transform X to 916",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DOWNLOAD12": {
      "main": [
        [
          {
            "node": "Write music3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Combine vids and music": {
      "main": [
        [
          {
            "node": "Write Final Vid no capt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transform X to 916": {
      "main": [
        [
          {
            "node": "Read X 918",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read X 918": {
      "main": [
        [
          {
            "node": "DOWNLOAD12",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Write music3": {
      "main": [
        [
          {
            "node": "Combine vids and music",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Write Final Vid no capt": {
      "main": [
        [
          {
            "node": "Read Voiceover",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Ass3": {
      "main": [
        [
          {
            "node": "Save ass3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Make video with Captions": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a record3": {
      "main": [
        [
          {
            "node": "HTTP Apify",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search1": {
      "main": [
        [
          {
            "node": "Message a model2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model2": {
      "main": [
        [
          {
            "node": "Update Script1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a record5": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger3": {
      "main": [
        [
          {
            "node": "Search records",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search records": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Make X Handle": {
      "main": [
        [
          {
            "node": "Download X Handle",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download X Handle": {
      "main": [
        [
          {
            "node": "Write X Handle BG",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Update 🔥 started",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update 🔥 started": {
      "main": [
        [
          {
            "node": "Create a record3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Instagram": {
      "main": [
        [
          {
            "node": "Update Publish",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload file15": {
      "main": [
        [
          {
            "node": "Update Voice3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Voice3": {
      "main": [
        [
          {
            "node": "HTTP LipSync",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Voiceover": {
      "main": [
        [
          {
            "node": "ElevenS2T3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Avatar": {
      "main": [
        [
          {
            "node": "Combine Videos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook1": {
      "main": [
        [
          {
            "node": "Get a record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a record": {
      "main": [
        [
          {
            "node": "Make Avatar Speak",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Make Avatar Speak": {
      "main": [
        [
          {
            "node": "Get Avatar Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "DOWNLOAD VIDEO",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Avatar Video": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Get Avatar Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DOWNLOAD VIDEO": {
      "main": [
        [
          {
            "node": "Upload file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload file": {
      "main": [
        [
          {
            "node": "Create or update a record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If2": {
      "main": [
        [
          {
            "node": "DOWNLOAD7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "pinData": {},
  "meta": null
}
