workflows/tcKRkxvGQLyy5fKI__update-user-pro.json
{
  "id": "tcKRkxvGQLyy5fKI",
  "name": ">>Update User - Pro",
  "active": 0,
  "createdAt": "2025-12-14 05:30:33.167",
  "updatedAt": "2025-12-14 05:30:33.167",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ],
      "id": "d50ca749-9b8d-48b7-8f64-c285b8391d71",
      "name": "When chat message received",
      "webhookId": "2df9e15a-ca43-436d-b2e7-fb1841e7556f"
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "users",
        "filters": {
          "conditions": [
            {
              "keyName": "first_name",
              "keyValue": "={{ $json.chatInput }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        208,
        0
      ],
      "id": "3ce5bb5e-2db1-4d73-8f2e-3ce98f290f50",
      "name": "Get a row"
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "users",
        "filters": {
          "conditions": [
            {
              "keyName": "first_name",
              "condition": "eq",
              "keyValue": "={{ $json.first_name }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "plan_type",
              "fieldValue": "pro"
            },
            {
              "fieldId": "updated_at",
              "fieldValue": "={{ $now }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        416,
        0
      ],
      "id": "40165ad9-e729-4f4c-b382-721c7e481366",
      "name": "Update a row"
    },
    {
      "parameters": {
        "chatId": "={{ $json.telegram_id }}",
        "text": "Tahniah! Anda telah upgrade ke ARA Pro 💪😊",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        624,
        0
      ],
      "id": "3fa1bd27-7f54-424c-bf52-2ec8827bf2f9",
      "name": "Send a text message",
      "webhookId": "986fbbe5-9434-499a-b028-5142124050ba"
    }
  ],
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "Get a row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a row": {
      "main": [
        [
          {
            "node": "Update a row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update a row": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "pinData": {},
  "meta": null
}
